<!-- Slider
              ============================================= -->
              <div class="all">
<section id="slider" class="slider-element  min-vh-100 ">
  <div class="slider-inner">
    <div class="row align-items-stretch position-relative position-md-absolute position-lg-relative w-100 h-100 m-0">
      <div class="col-xl-5 col-md-6" style="background-color :#272525;">
        <div class="vertical-middle subscribe-widget" data-loader="button">
          <div class="col-padding">
            <div>
              <h1 style="
                        line-height: 1.4;
                        font-size: 48px;
                        font-family: 'Playfair Display', serif;
                        font-weight: 400;
                      ">
                Type and Subscribe
              </h1>

            </div>
            <div class="widget-subscribe-form-result"></div>



            <form [formGroup]="participantform" (ngSubmit)="onSubmit()" class="row" id="event-registration"
              action="include/form.php" method="post" enctype="multipart/form-data">
              <div class="form-process">
                <div class="css3-spinner">
                  <div class="css3-spinner-scaler"></div>
                </div>
              </div>
              <div class="col-6 form-group">
                <label>First Name:</label>
                <input formControlName="FirstName" type="text" name="event-registration-first-name"
                  id="event-registration-first-name" class="form-control required" value=""
                  placeholder="Enter your First Name" />
              </div>
              <div class="col-6 form-group">
                <label>Last Name:</label>
                <input formControlName="LastName" type="text" name="event-registration-last-name"
                  id="event-registration-last-name" class="form-control required" value=""
                  placeholder="Enter your Last Name" />
              </div>
              <div class="col-12 form-group">
                <label>Email:</label>
                <input formControlName="email" type="email" name="event-registration-email"
                  id="event-registration-email" class="form-control required" value=""
                  placeholder="Enter your Email Address" />
              </div>

              <div class="col-6 form-group">
                <label>password:</label><br />
                <input formControlName="psw" (change)="checkPasswords()" type="password" name="freelance-quote-phone"
                  id="freelance-quote-phone" class="form-control required" value="" placeholder="password" />
              </div>

              <div class="col-6 form-group">
                <label>Confirm password:</label><br />
                <input formControlName="cfpsw" (change)="checkPasswords()" type="password" name="freelance-quote-phone"
                  id="freelance-quote-phone" class="form-control required" value="" placeholder="password" />
                <div style="color:red" *ngIf="checkPasswords()"> check you psw</div>
              </div>

              <div class="col-12 form-group">
                <label>CIN:</label>
                <input formControlName="cin" type="number" name="event-registration-id" id="event-registration-id"
                  class="form-control required" value="" placeholder="Enter your CIN" />
              </div>
              <div class="col-6 form-group">
                <label>Gender:</label><br />
                <div class="form-check form-check-inline">
                  <input formControlName="gender" class="form-check-input required" type="radio" name="gender"
                    id="event-registration-gender-male" value="Male" />
                  <label class="form-check-label nott" for="gender">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input formControlName="gender" class="form-check-input" type="radio" name="gender"
                    id="event-registration-gender-female" value="Female" />
                  <label class="form-check-label nott" for="gender">Female</label>
                </div>
              </div>
              <div class="col-6 form-group">
                <label>DATE OF BIRTH:</label>
                <input formControlName="dateOfBirth" type="date" name="event-registration-id" id="event-registration-id"
                  class="form-control required" value="" />
              </div>
              <div class="col-6 form-group">
                <label>Phone:</label><br />
                <input formControlName="phone" type="number" name="freelance-quote-phone" id="freelance-quote-phone"
                  class="form-control required" value="" placeholder="00-000-000" />
              </div>
              <div class="col-6 form-grou">
                <label>governorate</label>
                <select formControlName="governorate" class="form-select required" name="event-registration-passes"
                  id="event-registration-passes">
                  <option value="">-- Select One --</option>
                  <option value="Ariana">Ariana</option>
                  <option value="Béja">Béja</option>
                  <option value="Ben Arous">Ben Arous</option>
                  <option value="Bizerte">Bizerte</option>
                  <option value="Gabès">Gabès</option>
                  <option value="Gafsa">Gafsa</option>
                  <option value="Jendouba">Jendouba</option>
                  <option value="Kairouan">Kairouan</option>
                  <option value="Kasserine">Kasserine</option>
                  <option value="Kébili">Kébili</option>
                  <option value="Kef">Kef</option>
                  <option value="Mahdia">Mahdia</option>
                  <option value="Manouba">Manouba</option>
                  <option value="Médenine">Médenine</option>
                  <option value="Monastir">Monastir</option>
                  <option value="Nabeul">Nabeul</option>
                  <option value="Sfax">Sfax</option>
                  <option value="Sidi Bouzid">Sidi Bouzid</option>
                  <option value="Siliana">Siliana</option>
                  <option value="Sousse">Sousse</option>
                  <option value="Tataouine">Tataouine</option>
                  <option value="Tozeur">Tozeur</option>
                  <option value="">Tunis</option>
                  <option value="Zaghouan">Zaghouan</option>
                  <option value="">-- Select One --</option>
                </select>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label>university</label>
                  <input formControlName="university" type="text" name="event-registration-last-name"
                    id="event-registration-last-name" class="form-control required" value=""
                    placeholder="Enter your university" list="ice-cream-flavors" />
                  <datalist id="ice-cream-flavors">
                    <option value="institut supérieur d'informatique de medenine">
                    <option value="institut supérieur d'informatique de Mahdia">
                    <option value="institut supérieur d'informatique de tunis ">
                    <option value="institut supérieur d'informatique gabes">
                  </datalist>
                </div>
              </div>



              <div class="col-12">
                <button type="submit" name="event-registration-submit" class="col-12 btn btn-secondary btn-color"
                  [disabled]="(!participantform.valid||checkPasswords())">
                  Register
                </button>
              </div>

              <input type="hidden" name="prefix" value="event-registration-" />
            </form>


          </div>
        </div>

      </div>

      <div class="area-gif col-xl-7 col-md-6 text-center p-0 min-vh-50" style="
                background: url('../../assets/AREA 01 (8).gif') center center
                  no-repeat;
                /* background-size: cover; */
                z-index: 1;
              ">
              <!-- <video controls poster="/images/w3html5.gif">
                <source src="../../assets/AREA 01 (1).mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video> -->
        
      </div>
    </div>
  </div>
</section>
<!-- #slider end -->

<!-- Content
              ============================================= -->
<section id="content">
  <div class="content-wrap py-0">
    <div id="section-about" class="center page-section">
      <div class="container clearfix">
        <h2 class="mx-auto bottommargin font-body" style="max-width: 700px; font-size: 40px">
          About
        </h2>

        <p class="lead mx-auto bottommargin" style="max-width: 800px">
          Area 01 est un événement organisé par des étudiants qui vise principalement
          les jeunes afin de les eduquer et les divertir et développer leurs capacités
        </p>

        <!-- <p class="bottommargin" style="font-size: 16px">
                <a
                  href="#"
                  data-scrollto="#section-services"
                  data-easing="easeInOutExpo"
                  data-speed="1250"
                  data-offset="70"
                  class="more-link"
                  >Learn more <i class="icon-angle-right"></i
                ></a>
              </p> -->

        <div class="clear"></div>






      </div>
    </div>




  </div>

      <!-- ======= Schedule Section ======= -->
      <section id="schedule" class="section-with-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Event Schedule</h2>
            <p>Here is our event schedule</p>
          </div>
  
          <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
            <li class="nav-item">
              <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab">Day 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">Day 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab">Day 3</a>
            </li>
          </ul>
  
          <h3 class="sub-heading">Voluptatem nulla veniam soluta et corrupti consequatur neque eveniet officia. Eius
            necessitatibus voluptatem quis labore perspiciatis quia.</h3>
  
          <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">
  
            <!-- Schdule Day 1 -->
            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>09:30 AM</time></div>
                <div class="col-md-10">
                  <h4>Registration</h4>
                  <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>10:00 AM</time></div>
                <div class="col-md-10">
                 
                  <h4>Keynote <span>Brenden Legros</span></h4>
                  <p>Facere provident incidunt quos voluptas.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>11:00 AM</time></div>
                <div class="col-md-10">
                  
                  <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>
                  <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>12:00 AM</time></div>
                <div class="col-md-10">
                  
                  <h4>Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span></h4>
                  <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>02:00 PM</time></div>
                <div class="col-md-10">
                  
                  <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>
                  <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>03:00 PM</time></div>
                <div class="col-md-10">
                 
                  <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>
                  <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>04:00 PM</time></div>
                <div class="col-md-10">
                 
                  <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>
                  <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>
                </div>
              </div>
  
            </div>
            <!-- End Schdule Day 1 -->
  
            <!-- Schdule Day 2 -->
            <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>10:00 AM</time></div>
                <div class="col-md-10">
                 
                  <h4>Libero corrupti explicabo itaque. <span>Brenden Legros</span></h4>
                  <p>Facere provident incidunt quos voluptas.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>11:00 AM</time></div>
                <div class="col-md-10">
                  
                  <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>
                  <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>12:00 AM</time></div>
                <div class="col-md-10">
                  
                  <h4>Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span></h4>
                  <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>02:00 PM</time></div>
                <div class="col-md-10">
                  
                  <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>
                  <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>03:00 PM</time></div>
                <div class="col-md-10">
                  
                  <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>
                  <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>04:00 PM</time></div>
                <div class="col-md-10">
                 
                  <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>
                  <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>
                </div>
              </div>
  
            </div>
            <!-- End Schdule Day 2 -->
  
            <!-- Schdule Day 3 -->
            <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>10:00 AM</time></div>
                <div class="col-md-10">
                  
                  <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>
                  <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>11:00 AM</time></div>
                <div class="col-md-10">
                
                  <h4>Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span></h4>
                  <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>12:00 AM</time></div>
                <div class="col-md-10">
                  
                  <h4>Libero corrupti explicabo itaque. <span>Brenden Legros</span></h4>
                  <p>Facere provident incidunt quos voluptas.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>02:00 PM</time></div>
                <div class="col-md-10">
                 
                  <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>
                  <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>03:00 PM</time></div>
                <div class="col-md-10">
                 
                  <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>
                  <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>04:00 PM</time></div>
                <div class="col-md-10">
                 
                  <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>
                  <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>
                </div>
              </div>
  
            </div>
            <!-- End Schdule Day 2 -->
  
          </div>
  
        </div>
  
      </section><!-- End Schedule Section -->
  
 <!-- ======= Supporters Section ======= -->
 <section id="supporters" class="section-with-bg">

  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Sponsors</h2>
    </div>

    <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="supporter-logo">
          <img src="../../assets/ipsas logo.ai" class="img-fluid" alt="">
        </div>
      </div>


      <!-- <embed src="../../assets/Squid Game Sound Effect.mp3" loop="false" autostart="true" width="2" height="0"> -->
      
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="supporter-logo">
          <img src="assets/img/supporters/2.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="supporter-logo">
          <img src="assets/img/supporters/3.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="supporter-logo">
          <img src="assets/img/supporters/4.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="supporter-logo">
          <img src="assets/img/supporters/5.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="supporter-logo">
          <img src="assets/img/supporters/6.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="supporter-logo">
          <img src="assets/img/supporters/7.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="supporter-logo">
          <img src="assets/img/supporters/8.png" class="img-fluid" alt="">
        </div>
      </div>

    </div>

  </div>

</section><!-- End Sponsors Section -->


</section>
<!-- #content end -->

</div>