<div class="fancy-title title-center title-border topmargin">
    <h3>Feeds</h3>
  </div>

  <div style="display: flex; justify-content: center;">
    <div id="oc-posts" class="owl-carousel posts-carousel carousel-widget posts-md owl-loaded owl-drag col-9"
      data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4">

      <div class="oc-item col-3">
        <div class="entry">
          <div class="entry-image">
            <a href="../../assets/17.jpg" data-lightbox="image"><img src="../../assets/17.jpg"
                alt="Standard Post with Image"></a>
          </div>
          <div class="entry-title title-xs nott">
            <h3><a href="blog-single.html">This is a Standard post with a Preview Image</a></h3>
          </div>
          <div class="entry-meta">

          </div>
          <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
            </p>
          </div>
        </div>
      </div>
      <div class="oc-item col-3">
        <div class="entry">
          <div class="entry-image">
            <a href="../../assets/17.jpg" data-lightbox="image"><img src="../../assets/17.jpg"
                alt="Standard Post with Image"></a>
          </div>
          <div class="entry-title title-xs nott">
            <h3><a href="blog-single.html">This is a Standard post with a Preview Image</a></h3>
          </div>
          <div class="entry-meta">

          </div>
          <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
            </p>
          </div>
        </div>
      </div>

      <div class="oc-item col-3">
        <div class="entry">
          <div class="entry-image">
            <a href="../../assets/17.jpg" data-lightbox="image"><img src="../../assets/17.jpg"
                alt="Standard Post with Image"></a>
          </div>
          <div class="entry-title title-xs nott">
            <h3><a href="blog-single.html">This is a Standard post with a Preview Image</a></h3>
          </div>
          <div class="entry-meta">

          </div>
          <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
            </p>
          </div>
        </div>
      </div>

      <div class="oc-item col-3">
        <div class="entry">
          <div class="entry-image">
            <a href="../../assets/17.jpg" data-lightbox="image"><img src="../../assets/17.jpg"
                alt="Standard Post with Image"></a>
          </div>
          <div class="entry-title title-xs nott">
            <h3><a href="blog-single.html">This is a Standard post with a Preview Image</a></h3>
          </div>
          <div class="entry-meta">

          </div>
          <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
            </p>
          </div>
        </div>
      </div>

      <div class="oc-item col-3">
        <div class="entry">
          <div class="entry-image">
            <a href="../../assets/17.jpg" data-lightbox="image"><img src="../../assets/17.jpg"
                alt="Standard Post with Image"></a>
          </div>
          <div class="entry-title title-xs nott">
            <h3><a href="blog-single.html">This is a Standard post with a Preview Image</a></h3>
          </div>
          <div class="entry-meta">

          </div>
          <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>