/*----------------------------------------------------------------
	Canvas: Beauty
-----------------------------------------------------------------*/

:root {
	--themecolor:  #6a1b9a;
	--color1: #5a257f;
	--color2: #8cdc8c;
	--color3: #dd5980;
	--color4: #d5a651;
	--font1: 'Merriweather', serif;
	--font2: 'Lato', san-serif;
}

/* CSS Over 992px Devices */
@media (min-width: 992px) {

	.side-header .menu-link {
		font-size: 0.875rem;
		text-transform: none;
		font-weight: 400;
		letter-spacing: 1px;
		color: #111;
		-webkit-transition: transform .3s ease;
		-o-transition: transform .3s ease;
		transition: transform .3s ease;
	}

	.side-header .primary-menu .menu-link:hover {
		-webkit-transform: translateX(3px);
		-ms-transform: translateX(3px);
		-o-transform: translateX(3px);
		transform: translateX(3px);
	}
}

thead tr th {
	width: 80%;
	border-top: 0 !important;
	font-family: var(--font1);
}

.table th,
.table td {
	padding: 0.88rem;
	font-family: var(--font1);
	font-weight: 400;
	font-size: 15px;
}


/* ----------------------------------------------------------------
	Countdown
-----------------------------------------------------------------*/

/* .twentytwenty-horizontal */
/* twentytwenty-horizontal End */




/*-----------------------------------------------------------------------------------

	Theme Name: Canvas
	Theme URI: http://themes.semicolonweb.com/html/canvas
	Description: The Multi-Purpose Template
	Author: SemiColonWeb
	Author URI: http://themeforest.net/user/semicolonweb
	Version: 6.5.4

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------

	- Basic
	- Typography
	- Basic Layout Styles
	- Helper Classes
	- Sections
	- Columns & Grids
	- Flex Slider
	- Swiper Slider
	- Top Bar
	- Header
		- Logo
		- Primary Menu
		- Mega Menu
		- Top Search
		- Top Cart
		- Sticky Header
		- Page Menu
		- Side Header
	- Side Panel
	- Slider
	- Page Title
	- Content
	- Portfolio
	- Blog
	- Shop
	- Events
	- Shortcodes
		- Countdown
		- Buttons
		- Promo Boxes
		- Featured Boxes
		- Process Steps
		- Styled Icons
		- Toggles
		- Accordions
		- Tabs
		- Side Navigation
		- FAQ List
		- Clients
		- Testimonials
		- Team
		- Pricing Boxes
		- Counter
		- Animated Rounded Skills
		- Skills Bar
		- Dropcaps & Highlights
		- Quotes & Blockquotes
		- Text Rotater
	- Owl Carousel
	- Overlays
	- Forms
	- Google Maps
	- Heading Styles
	- Divider
	- Magazine Specific Classes
	- Go To Top
	- Error 404
	- Landing Pages
	- Preloaders
	- Footer
	- Widgets
		- Tag Cloud
		- Links
		- Testimonial & Twitter
		- Quick Contact Form
		- Newsletter
		- Twitter Feed
		- Navigation Tree
	- Wedding
	- Bootstrap Specific
	- Cookie Notification
	- Stretched Layout
	- Page Transitions
	- Youtube Video Backgrounds

---------------------------------------------------------------- */


/* ----------------------------------------------------------------
	Bootstrap Adjustments
-----------------------------------------------------------------*/

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: auto;
	}
}

.form-group {
	margin-bottom: 1rem;
}


/* ----------------------------------------------------------------
	Basic
-----------------------------------------------------------------*/

ul, li {
	margin: 0;
	padding: 0;
}

::selection {
	background: #1ABC9C;
	color: #FFF;
	text-shadow: none;
}

::-moz-selection {
	background: #1ABC9C; /* Firefox */
	color: #FFF;
	text-shadow: none;
}

::-webkit-selection {
	background: #1ABC9C; /* Safari */
	color: #FFF;
	text-shadow: none;
}

:active,
:focus { outline: none !important; }


/* ----------------------------------------------------------------
	Typography
-----------------------------------------------------------------*/


body {
	line-height: 1.5;
	color: #555;
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none !important;
	color: #1ABC9C;
}

a:hover { color: #222; }


/* ----------------------------------------------------------------
	Basic Layout Styles
-----------------------------------------------------------------*/

ul,
table,
form { margin-bottom: 30px; }


/* ----------------------------------------------------------------
	Helper Classes
-----------------------------------------------------------------*/

#wrapper {
	position: relative;
	float: none;
	width: 100%;
	margin: 0 auto;
	background-color: #FFF;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

@media (min-width: 1200px) {
	body:not(.stretched) #wrapper {
		max-width: 1200px;
	}
}

@media (min-width: 1440px) {
	body:not(.stretched) #wrapper {
		max-width: 1440px;
	}
}

.nott { text-transform: none !important; }

/* MOVING BG -  TESTIMONIALS */


/* ----------------------------------------------------------------
	Opacity Utility Classes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Text Color Utility Classes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Text Size Utility Classes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	BG Color Utility Classes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Gradient Utility Classes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Border Utility Classes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Rounded
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shadows
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Transform Utility Classes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Align Wide Utility Classes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Z-Index Utility Classes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Bootstrap Utility Classes: Extended
-----------------------------------------------------------------*/


/*	Spacing Utilities */


/*	Custom Bootstrap Column */

[class*="col-"]:not([class*="sticky-"]):not([class*="position-"]) {
	position: relative;
}


/*	Gutters */


/* ----------------------------------------------------------------
	Max Width Utility Classes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Height Utility Classes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Position Utility Classes: Extended
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	X/Y Positioning Classes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Square Sizing Classes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Text Sizing Classes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Lazy Loading
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Sections
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Columns & Grids
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Flex Slider
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Top Bar
-----------------------------------------------------------------*/


/* Top Links
---------------------------------*/


/* Top Social
-----------------------------------------------------------------*/


/* Top Login
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


#header {
	position: relative;
	background-color: #FFF;
	border-bottom: 1px solid #F5F5F5;
}

#header-wrap {
	position: relative;
	background-color: #FFF;
	width: 100%;
}

.header-wrap-clone {
	display: none;
}

.header-row {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	// margin-top:100px
}

@media (min-width: 992px) {

	#header-wrap {
		position: fixed;
		height: auto;
		z-index: 299;
		box-shadow: 0 0 0 rgba(0,0,0,0.1);
		transition: height .2s ease 0s, background-color .3s ease 0s;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		will-change: left, top, transform;
	}

	body:not(.stretched) #header:not(.sticky-header) #header-wrap {
		position: absolute;
	}

	.header-wrap-clone {
		display: block;
		height: calc( 100px + 1px );
	}

	.header-row {
		position: initial;
	}

	/* ----------------------------------------------------------------
		Sticky Header
	-----------------------------------------------------------------*/

	/* Primary Menu - Style 3
	-----------------------------------------------------------------*/

	/* Primary Menu - Style 4
	-----------------------------------------------------------------*/

	/* Primary Menu - Style 5
	-----------------------------------------------------------------*/

}


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Retina Logo
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header Right Area
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

.primary-menu {
	display: -ms-flexbox;
	display: flex;
	flex-basis: 100%;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-align: center;
	align-items: center;
}

.menu-container {
	display: none;
	list-style: none;
	margin: 0;
	width: 100%;
}

.menu-item {
	position: relative;
}

.menu-item:not(:first-child) {
	border-top: 1px solid #EEE;
}

.menu-link {
	display: block;
	line-height: 22px;
	padding: 14px 5px;
	color: #444;
	font-weight: 700;
	font-size: 0.8125rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}

.menu-item:hover > .menu-link {
	color: #1ABC9C;
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

@media (max-width: 991.98px) {

	.primary-menu {
		max-width: 100%;
	}

}

/* Off Canvas Menu
-----------------------------------------------------------------*/

@media (min-width: 992px) {

	.primary-menu {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		-ms-flex-positive: 0;
		flex-grow: 0;
	}

	.menu-container:not(.mobile-primary-menu) {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-align: center;
		align-items: center;
	}

	.menu-container > .menu-item:not(:first-child) {
		margin-left: 2px;
	}

	.menu-item:not(:first-child) {
		border-top: 0;
	}

	.menu-link {
		padding: 39px 15px;
		-webkit-transition: margin .4s ease, padding .4s ease;
		-o-transition: margin .4s ease, padding .4s ease;
		transition: margin .4s ease, padding .4s ease;
	}

	/* Sub-Menu On-Hover Dropdown */

	.primary-menu:not(.on-click) .menu-item:not(:hover) > .sub-menu-container > *,
	.primary-menu:not(.on-click) .menu-item:not(:hover) > .mega-menu-content > * {
		display: none;
	}

	/* ----------------------------------------------------------------
		Mega Menu
	-----------------------------------------------------------------*/

	/* Sub-Menu On-Click Dropdown */


	/* Primary Menu - Style 2
	-----------------------------------------------------------------*/


	/* Primary Menu - Style 3
	-----------------------------------------------------------------*/


	/* Primary Menu - Style 4
	-----------------------------------------------------------------*/


	/* Primary Menu - Style 5
	-----------------------------------------------------------------*/


	/* Primary Menu - Style 6
	-----------------------------------------------------------------*/


	/* Primary Menu - Sub Title
	-----------------------------------------------------------------*/


	/* ----------------------------------------------------------------
		Side Header
	-----------------------------------------------------------------*/

	.side-header:not(.open-header) #wrapper {
		margin: 0 0 0 260px !important;
		width: auto !important;
	}

	.side-header .container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.side-header #header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 260px;
		height: 100%;
		height: calc(100vh);
		background-color: #FFF;
		border: none;
		border-right: 1px solid #EEE;
		overflow: hidden;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.065);
	}

	.side-header #header-wrap {
		position: relative;
		width: 300px;
		width: calc( 100% + 40px );
		height: 100%;
		overflow-y: scroll;
		padding-right: 40px;
	}

	.side-header #header-wrap > .container {
		width: 260px;
		max-width: none;
		padding: 0 30px;
		margin: 0 !important;
		min-height: 100%;
		display: -ms-flexbox;
		display: flex;
	}

	.side-header .header-wrap-clone {
		display: none;
	}

	.side-header .header-row {
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-positive: 1 !important;
		flex-grow: 1 !important;
	}

	.side-header .header-misc {
		width: 100%;
		margin: 0;
	}

	.side-header .primary-menu {
		margin-bottom: 30px;
		-ms-flex-positive: 0 !important;
		flex-grow: 0 !important;
		width: 100%;
	}

	.side-header .primary-menu:not(.border-bottom-0)::after { margin-top: 40px; }

	.side-header .menu-container {
		display: block;
		height: auto;
		width: 100%;
	}

	.side-header .menu-item {
		width: 100%;
	}

	.side-header .menu-item:not(:first-child) {
		margin: 10px 0 0;
		border-top: 0;
	}

	.side-header .menu-link {
		position: relative;
		padding: 5px 0 !important;
		margin: 0 !important;
		text-transform: uppercase;
	}

	.side-header .menu-item:hover > .menu-link {
		background-color: transparent !important;
	}


	/* Side Header - Push Header
	-----------------------------------------------------------------*/


	/* Side Header - Right Aligned
	-----------------------------------------------------------------*/


	/* Primary Menu - Overlay Menu
	-----------------------------------------------------------------*/

}


/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/

.header-misc {
	position: initial;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	margin-left: 15px;
}

/* Top Search Animation */


/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Menu
-----------------------------------------------------------------*/

@media (min-width: 992px) {


	/* Page Menu - Dots Style
	-----------------------------------------------------------------*/

}


/* ----------------------------------------------------------------
	One Page
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Side Push Panel
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Slider
-----------------------------------------------------------------*/


/* Boxed Slider
-----------------------------------------------------------------*/


/* Swiper Slider
-----------------------------------------------------------------*/


/* Video Overlay
-----------------------------------------------------------------*/


/* Slider Caption
-----------------------------------------------------------------*/


/* Slider Arrows
-----------------------------------------------------------------*/


/* Slide Number
-----------------------------------------------------------------*/


/* Pagination
-----------------------------------------------------------------*/


/* Flex Slider - Navigation
-----------------------------------------------------------------*/

.nav-solid .flex-prev:not(:hover) i,
.nav-solid .flex-next:not(:hover) i {
	color: #444;
	text-shadow: none;
}


/* Flex Slider - Pagination & Thumbs
-----------------------------------------------------------------*/


/* Flex Slider: Pagination Positions
-----------------------------------------------------------------*/

/* Flex Slider: Thumbs
-----------------------------------------------------------------*/


/* FlexSlider: Thumbs - Flexible
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/

/* Page Title - Dark
-----------------------------------------------------------------*/

/* Page Title - Right Aligned
-----------------------------------------------------------------*/

/* Page Title - Center Aligned
-----------------------------------------------------------------*/

/* Page Title - Background Pattern
-----------------------------------------------------------------*/

/* Page Title - Parallax Background
-----------------------------------------------------------------*/


/* Page Title - Mini
-----------------------------------------------------------------*/


/* Page Title - No Background
-----------------------------------------------------------------*/


/* Page Title - Video
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Content
-----------------------------------------------------------------*/


#content {
	position: relative;
	background-color: #FFF;
	padding:30px;
}


/* ----------------------------------------------------------------
	Portfolio
-----------------------------------------------------------------*/


/* Grid Filter
-----------------------------------------------------------------*/


/* Grid Filter: Style 2
-----------------------------------------------------------------*/


/* Grid Filter: Style 3
-----------------------------------------------------------------*/


/* Grid Filter: Style 4
-----------------------------------------------------------------*/


/* Portfolio - Shuffle Icon
-----------------------------------------------------------------*/


/* Portfolio - Items
-----------------------------------------------------------------*/


/* Portfolio - Item Title
-----------------------------------------------------------------*/


/* Portfolio - Parallax
-----------------------------------------------------------------*/


/* Portfolio Single
-----------------------------------------------------------------*/


/* Portfolio Single - Image
-----------------------------------------------------------------*/


/* Masonry Thumbs
-----------------------------------------------------------------*/


/* Portfolio Single - Content
-----------------------------------------------------------------*/


/* Portfolio Single - Meta
-----------------------------------------------------------------*/


/* Portfolio Single Navigation
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.entry-meta a:not(:hover) { color: #999; }


/* Blog - Grid
-----------------------------------------------------------------*/


/* Blog - Timeline
-----------------------------------------------------------------*/

@media (min-width: 992px) {

	/* Blog - Timeline - Sidebar
	-----------------------------------------------------------------*/

}


/* ----------------------------------------------------------------
	Blog - Author
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Comments List
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Comment Form
-----------------------------------------------------------------*/


/* Post Elements
-----------------------------------------------------------------*/


/* Infinity Scroll - Message Style
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* Shop - Single
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Cart
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Events
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------

	Countdown

-----------------------------------------------------------------*/


/* Countdown - Medium
-----------------------------------------------------------------*/


/* Countdown - Large
-----------------------------------------------------------------*/


/* Countdown - Inline
-----------------------------------------------------------------*/


@media (min-width: 768px) {

	/* Countdown - Coming Soon
	-----------------------------------------------------------------*/

}

/* ----------------------------------------------------------------
	Buttons
-----------------------------------------------------------------*/


.button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	margin: 5px;
	padding: 8px 22px;
	font-size: 0.875rem;
	line-height: 24px;
	background-color: #1ABC9C;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

body:not(.device-touch) .button {
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.button.button-light {
	background-color: #EEE;
	color: #333;
	text-shadow: none !important;
}

.button:hover {
	background-color: #444;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.button.button-large {
	padding: 8px 26px;
	font-size: 1rem;
	line-height: 30px;
}

.button i {
	position: relative;
	margin-right: 5px;
	width: 16px;
	text-align: center;
}

.button.button-rounded { border-radius: 3px; }


/* Buttons - Border
-----------------------------------------------------------------*/


/* Buttons - Border
-----------------------------------------------------------------*/

.button.button-reveal.button-light:hover {
	text-shadow: none;
	color: #333;
}


/* Buttons - Icon Reveal
-----------------------------------------------------------------*/

.button.button-reveal {
	padding-left: 28px;
	padding-right: 28px;
	overflow: hidden;
}

.button.button-reveal i {
	display: block;
	position: absolute;
	top: 0;
	left: -32px;
	width: 32px;
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	background-color: rgba(0,0,0,0.1);
}

.button.button-reveal.button-rounded i { border-radius: 3px 0 0 3px; }

.button.button-reveal span {
	display: inline-block;
	position: relative;
	left: 0;
}

body:not(.device-touch) .button.button-reveal i,
body:not(.device-touch) .button.button-reveal span {
	-webkit-transition: left 0.3s ease, right 0.3s ease;
	-o-transition: left 0.3s ease, right 0.3s ease;
	transition: left 0.3s ease, right 0.3s ease;
}

.button.button-reveal.button-large {
	padding-left: 32px;
	padding-right: 32px;
}

.button.button-reveal.button-large i {
	left: -38px;
	width: 38px;
}

.button.button-reveal:hover i { left: 0; }

.button.button-reveal:hover span { left: 16px; }

.button.button-reveal.button-large:hover span { left: 19px; }


/* Buttons - Promo 100% Width
-----------------------------------------------------------------*/


/* Buttons - Circle
-----------------------------------------------------------------*/


/* Buttons - Fill Effect
-----------------------------------------------------------------*/


/* Buttons - States
-----------------------------------------------------------------*/
.button:disabled {
	opacity: 0.65 !important;
	pointer-events: none !important;
}


/* Buttons - Colors
-----------------------------------------------------------------*/

.button-light.button-yellow:not(.button-border) { background-color: #ECD078 !important; }
.button-reveal.button-yellow:hover { background-color: #ECD078 !important; }


/* Buttons - No Hover
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Promo Boxes
-----------------------------------------------------------------*/


/* Promo Uppercase
-----------------------------------------------------------------*/


/* Promo - with Border
-----------------------------------------------------------------*/


/* Promo - Light
-----------------------------------------------------------------*/


/* Promo - Dark
-----------------------------------------------------------------*/


/* Promo - 100% Full Width
-----------------------------------------------------------------*/


/* Promo - Parallax
-----------------------------------------------------------------*/


/* Promo - Mini
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/


/* Feature Box - Icon Small
-----------------------------------------------------------------*/

/* Feature Box - Icon Large
-----------------------------------------------------------------*/

/* Feature Box - Icon X-Large
-----------------------------------------------------------------*/


/* Feature Box - Icon Outline
-----------------------------------------------------------------*/


/* Feature Box - Icon Outline Sizes
-----------------------------------------------------------------*/


/* Feature Box - Icon Rounded
-----------------------------------------------------------------*/


/* Feature Box - Icon Rounded Sizes
-----------------------------------------------------------------*/


/* Feature Box - Light Background
-----------------------------------------------------------------*/


/* Feature Box - Dark Background
-----------------------------------------------------------------*/


/* Feature Box - Border
-----------------------------------------------------------------*/


/* Feature Box - Border - Light
-----------------------------------------------------------------*/


/* Feature Box - Border - Dark
-----------------------------------------------------------------*/


/* Feature Box - Plain
-----------------------------------------------------------------*/


/* Feature Box - Icon Plain Sizes
-----------------------------------------------------------------*/


/* Feature Box - Center & Large Icons
-----------------------------------------------------------------*/


/* Feature Box - Subtitle
-----------------------------------------------------------------*/


/* Feature Box - Background
-----------------------------------------------------------------*/


/* Animated Icon Hovers
-----------------------------------------------------------------*/

/* Icon Effects - Bordered
-----------------------------------------------------------------*/


/* Media Featured Box
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Flipbox
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Process Steps
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Alerts
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Styled Icons
-----------------------------------------------------------------*/


/* Icon Size - Small
-----------------------------------------------------------------*/


/* Icon Size - Small
-----------------------------------------------------------------*/


/* Icon Size - Large
-----------------------------------------------------------------*/


/* Icon Size - Extra Large
-----------------------------------------------------------------*/


/* Icon Size - Extra Extra Large
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Social Icons
-----------------------------------------------------------------*/


/* Social Icons - Rounded
-----------------------------------------------------------------*/

/* Social Icons - Borderless
-----------------------------------------------------------------*/

/* Social Icons - Dark
-----------------------------------------------------------------*/

/* Social Icons - Light
-----------------------------------------------------------------*/

/* Social Icons - Colored
-----------------------------------------------------------------*/

/* Social Icons - Large
-----------------------------------------------------------------*/

/* Social Icons - Small
-----------------------------------------------------------------*/

/* Social Icons - Sticky
-----------------------------------------------------------------*/

/* Social Icons - Sticky Right
-----------------------------------------------------------------*/

/* Social Icons - Share
-----------------------------------------------------------------*/


/* Social Icons Text Color
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Toggle
-----------------------------------------------------------------*/




/* Toggle - with Title Background
-----------------------------------------------------------------*/


/* Toggle - Bordered
-----------------------------------------------------------------*/


/* Toggle - FAQs
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Accordions
-----------------------------------------------------------------*/


/* Accordion - with Title Background
-----------------------------------------------------------------*/


/* Accordion - Bordered
-----------------------------------------------------------------*/


/* Accordion - Large
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Tabs
-----------------------------------------------------------------*/


/* Tabs - Alternate Nav
-----------------------------------------------------------------*/


/* Tabs - Top Border
-----------------------------------------------------------------*/


/* Tabs - Bottom Border
-----------------------------------------------------------------*/


/* Tabs - Navigation Style 2
-----------------------------------------------------------------*/


/* Tabs - Large Navigation
-----------------------------------------------------------------*/


/* Tabs - Content Area
-----------------------------------------------------------------*/

/* Tabs - Bordered
-----------------------------------------------------------------*/


/* Tabs - Side Tabs
-----------------------------------------------------------------*/

@media (min-width: 768px) {


	/* Tabs - Side Tabs & Nav Style 2
	-----------------------------------------------------------------*/

	/* Tabs - Side Tabs & Bordered
	-----------------------------------------------------------------*/

}


/* ----------------------------------------------------------------
	Side Navigation
-----------------------------------------------------------------*/

/* Chevrons */


/* ----------------------------------------------------------------
	FAQ List
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Clients
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Testimonials
-----------------------------------------------------------------*/

/* Testimonials - Grid
-----------------------------------------------------------------*/


/* Testimonials - Item
-----------------------------------------------------------------*/


/* Twitter - Small Scroller
-----------------------------------------------------------------*/


/* Testimonials - Full Width
-----------------------------------------------------------------*/


/* Testimonial - Section Scroller
-----------------------------------------------------------------*/


/* Testimonial - Pagination
-----------------------------------------------------------------*/


/* Testimonial - Full Scroller
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Team
-----------------------------------------------------------------*/


/* Team Center
-----------------------------------------------------------------*/


/* Team List
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Pricing Boxes
-----------------------------------------------------------------*/


/* Pricing Boxes
-----------------------------------------------------------------*/


/* Pricing Boxes - Title
-----------------------------------------------------------------*/


/* Pricing Boxes - Price
-----------------------------------------------------------------*/


/* Pricing Boxes - Features
-----------------------------------------------------------------*/


/* Pricing Boxes - Action
-----------------------------------------------------------------*/


/* Pricing Boxes - Best Price
-----------------------------------------------------------------*/


/* Pricing Boxes - Simple
-----------------------------------------------------------------*/


/* Pricing Boxes - Minimal
-----------------------------------------------------------------*/


/* Pricing Boxes - Extended
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Counter
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Animated Rounded Skills
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Skills Bar
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Quotes & Blockquotes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Dropcaps & Highlights
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Text Rotater
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Owl Carousel CSS
-----------------------------------------------------------------*/


/* Owl Carousel - Controls
-----------------------------------------------------------------*/

/* Owl Carousel - Controls - Arrows
-----------------------------------------------------------------*/


/* Owl Carousel - Controls - Dots
-----------------------------------------------------------------*/


/* Owl Carousel - Controls - Dots - Positions
-----------------------------------------------------------------*/

/* Owl Carousel - Controls - Dots - Sizes
-----------------------------------------------------------------*/

/* Owl Carousel - Controls - Dots - Border
-----------------------------------------------------------------*/

/* Owl Carousel - Controls - Dots - square
-----------------------------------------------------------------*/

/* Owl Carousel - Controls - Dots - square
-----------------------------------------------------------------*/

/* Owl Carousel - Controls - Dots - Dashed
-----------------------------------------------------------------*/

/* Owl Carousel - Controls - Dots - Numbers
-----------------------------------------------------------------*/

/* Owl Carousel - Controls - Arrows - Sizes
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Flip Cards
-----------------------------------------------------------------*/

/*.owl-carousel .owl-stage { padding: 20px 0; }*/


/* ----------------------------------------------------------------
	Overlays
-----------------------------------------------------------------*/


/* News Carousel Overlays
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Forms
-----------------------------------------------------------------*/

.form-control { border-radius: 3px; }

.form-control:active,
.form-control:focus {
	border-color: #999;
	box-shadow: none;
}

label {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #555;
	margin-bottom: 10px;
	cursor: pointer;
}


/* ----------------------------------------------------------------
	Contact Form
-----------------------------------------------------------------*/

input[type=checkbox]:not(:checked) + label.error { display: block !important; }


/* ----------------------------------------------------------------
	Google Maps
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Google Custom Search
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Titular
-----------------------------------------------------------------*/


/* Block Titles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/


/* Emphasis Title
-----------------------------------------------------------------*/


/* Justify Border Title
-----------------------------------------------------------------*/


/* Fancy Title - Center Align
-----------------------------------------------------------------*/


/* Fancy Title - Right Align
-----------------------------------------------------------------*/


/* Fancy Title - Bottom Short Border
-----------------------------------------------------------------*/


/* Sub Heading
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Divider
-----------------------------------------------------------------*/


/* Divider - Icon Align Right
-----------------------------------------------------------------*/


/* Divider - Icon Align Center
-----------------------------------------------------------------*/


/* Divider - Rounded Icon
-----------------------------------------------------------------*/


/* Divider - Rounded & Border
-----------------------------------------------------------------*/


/* Divider - Line Only
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Magazine Specific Classes
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Go To Top
-----------------------------------------------------------------*/


#gotoTop {
	display: none;
	z-index: 599;
	position: fixed;
	width: 40px;
	height: 40px;
	background-color: #333;
	background-color: rgba(0,0,0,0.3);
	font-size: 1.25rem;
	line-height: 36px;
	text-align: center;
	color: #FFF;
	top: auto;
	left: auto;
	right: 30px;
	bottom: 50px;
	cursor: pointer;
	border-radius: 2px;
}

body:not(.device-touch) #gotoTop {
	transition: background-color .2s linear;
	-webkit-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
}

.stretched #gotoTop { bottom: 30px; }

#gotoTop:hover { background-color: #1ABC9C; }


/* ----------------------------------------------------------------
	Read More
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	GDPR Settings
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Error 404
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Landing Pages
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Preloaders
-----------------------------------------------------------------*/


.form-process {
	display: block;
	width: 100%;
	height: 100%;
	background: center center no-repeat #FFF;
}

.form-process {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: transparent;
}

.form-process::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	opacity: 0.7;
	z-index: -1;
}


/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/


/* Tag Cloud
-----------------------------------------------------------------*/


/* Widget - Links
-----------------------------------------------------------------*/


/* Widget - Testimonial & Twitter
-----------------------------------------------------------------*/


/* Widget - Quick Contact Form
-----------------------------------------------------------------*/


/* Newsletter Widget
-----------------------------------------------------------------*/


/* Twitter Feed Widget
-----------------------------------------------------------------*/

.widget-twitter-feed small a:not(:hover) { color: #999; }


/* Widget Filter Links
-----------------------------------------------------------------*/


/* Navigation Tree
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Wedding
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Styled Paginations
-----------------------------------------------------------------*/

/* Pagination Rounded */

/* Pagination Margins */

/* Pagination 3d */

/* Pagination Transparent */

/* Pagination Transparent */
.pagination.pagination-inside-transparent .page-item .page-link:not(:hover) { color: #222; }

/* Pagination Inside Transparent */

/* Pagination Button */

/* Pagination Pill */

/* Pagination primary */

/* Pagination secondary */

/* Pagination success */

/* Pagination danger */

/* Pagination info */

/* Pagination dark */

/* Pagination light */

/* Pagination Bootstrap Background */


/* --------------------------------------------------------------
	SWITCH
--------------------------------------------------------------  */

/* --------------------------------------------------------------
	SWITCH 1 - ROUND
----------------------------------------------------------------- */

/* --------------------------------------------------------------
	SWITCH 1 - ROUND- MINI
----------------------------------------------------------------- */

/* --------------------------------------------------------------
	SWITCH 1 - ROUND- LARGE
----------------------------------------------------------------- */


/* --------------------------------------------------------------
	SWITCH 1 - ROUND- XLARGE
----------------------------------------------------------------- */


/* -----------------------------------------------------------
	SWITCH 2 - ROUND FLAT
-------------------------------------------------------------- */


/* -----------------------------------------------------------
	SWITCH 2 - FLAT - MINI
-------------------------------------------------------------- */


/* -----------------------------------------------------------
	SWITCH 2 - FLAT - LARGE
-------------------------------------------------------------- */



/* -----------------------------------------------------------
	SWITCH 2 - FLAT - XLARGE
-------------------------------------------------------------- */


/* ----------------------------------------------------------------
	Bootstrap Specific
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Stretched Layout
-----------------------------------------------------------------*/


.stretched #wrapper {
	width: 100%;
	margin: 0;
	box-shadow: none;
}


/* ----------------------------------------------------------------
	Shape Dividers
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Transitions
-----------------------------------------------------------------*/

.css3-spinner {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	text-align: center;
	background-color: #FFF;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-perspective: 1000;
}

.css3-spinner {
	position: absolute;
	z-index: auto;
	background-color: transparent;
}

.css3-spinner > div {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -9px;
	margin-left: 13px;
	width: 18px;
	height: 18px;
	background-color: #DDD;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
	0%, 80%, 100% {
	transform: scale(0.0);
	-webkit-transform: scale(0.0);
	} 40% {
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
	}
}


.css3-spinner > .css3-spinner-scaler {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	-webkit-animation: scaleout 1.0s infinite ease-in-out;
	animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
	0% { -webkit-transform: scale(0.0) }
	100% {
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}

@keyframes scaleout {
	0% {
	transform: scale(0.0);
	-webkit-transform: scale(0.0);
	} 100% {
	transform: scale(1.0);
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}



/* ----------------------------------------------------------------
	HTML5 Youtube Video Backgrounds
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Datepicker Component
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Star Ratings Component
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Custom Animate.css Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Dark Scheme
-----------------------------------------------------------------*/

@media (max-width: 991.98px) {

	/* Off Canvas Menu
	-----------------------------------------------------------------*/

}

.dark .top-cart-item-image:not(:hover) {
	border-color: rgba(255,255,255,0.1);
}

.dark .entry-meta a:not(:hover) {
	color: #BBB;
}

.dark .button-dark:not(.button-border):not(:hover) {
	background-color: rgba(0,0,0,0.3);
}

.dark .widget-twitter-feed small a:not(:hover) {
	color: rgba(255,255,255,0.6);
}

.dark .pagination.pagination-inside-transparent .page-item .page-link:not(:hover) {
	color: rgba(255,255,255,0.95);
}


/* Dark Scheme - Bootstrap
-----------------------------------------------------------------*/

.table-striped > tbody > tr:nth-child(odd) { background-color: rgba(0,0,0,0.05); }

@media (max-width: 767px) {
	.table-responsive { border-color: rgba(255,255,255,0.1); }
}

/* ----------------------------------------------------------------
    Fonts

    Replace your Fonts as necessary
-----------------------------------------------------------------*/


body { font-family: 'Lato', sans-serif !important; }


.menu-link,
label { font-family: 'Merriweather', serif !important; }

	/*
		Flaticon icon font: Flaticon
		Creation date: 19/02/2016 14:45
		*/

        @font-face {
            font-family: "spa";
            // src: url("./spa-icons.eot");
            // src: url("./spa-icons.eot?#iefix") format("embedded-opentype"),
            // url("./spa-icons.woff") format("woff"),
            // url("./spa-icons.ttf") format("truetype"),
            // url("./spa-icons.svg#spa") format("svg");
            font-weight: normal;
            font-style: normal;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            @font-face {
                font-family: "spa";
                // src: url("./spa-icons.svg#spa") format("svg");
            }
        }


        @font-face {
            font-family: "font-icons";
            // src: url("fonts/font-icons.eot");
            // src: url("fonts/font-icons.eot") format("embedded-opentype"),
            //     url("fonts/font-icons.woff") format("woff"),
            //     url("fonts/font-icons.ttf") format("truetype"),
            //     url("fonts/font-icons.svg") format("svg");
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: "lined-icons";
            // src: url("fonts/lined-icons.eot");
            // src: url("fonts/lined-icons.eot") format("embedded-opentype"),
            //     url("fonts/lined-icons.woff") format("woff"),
            //     url("fonts/lined-icons.ttf") format("truetype"),
            //     url("fonts/lined-icons.svg") format("svg");
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: "Simple-Line-Icons";
            // src: url("fonts/Simple-Line-Icons.eot");
            // src: url("fonts/Simple-Line-Icons.eot?#iefix") format("embedded-opentype"),
            //     url("fonts/Simple-Line-Icons.woff") format("woff"),
            //     url("fonts/Simple-Line-Icons.ttf") format("truetype"),
            //     url("fonts/Simple-Line-Icons.svg#Simple-Line-Icons") format("svg");
            font-weight: normal;
            font-style: normal;
        }
        
        [class^="icon-"] {
            display: inline-block;
            font-family: "font-icons";
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: inherit;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .icon-angle-up:before {
            content: "\e7a6";
        }
        

        @charset "UTF-8";/*!
 * animate.css - https://animate.style/
 * Version - 4.1.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2020 Animate.css
 */
:root {
	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1;
}
/* Attention seekers  */
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
/* Back entrances */
/* Back exits */
/* Bouncing entrances  */
/* Bouncing exits  */
/* Fading entrances  */
/* Fading exits */
/* Flippers */
/* Lightspeed */
/* Rotating entrances */
/* Rotating exits */
/* Specials */
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
/* Zooming entrances */
/* Zooming exits */
/* Sliding entrances */
/* Sliding exits */

/* Magnific Popup CSS */

button::-moz-focus-inner {
	padding: 0;
	border: 0; }

/* Main image in popup */

/* The shadow behind the image */

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
	/**
			 * Remove all paddings around the image on small screen
			 */ }



/* overlay at start */
/* overlay animate in */
/* overlay animate out */

/* content at start */
/* content animate it */
/* content animate out */

@font-face {
	font-family: 'et-line';
	// src:url('et-line/et-line.eot');
	// src:url('et-line/et-line.eot?#iefix') format('embedded-opentype'),
	// 	url('et-line/et-line.woff') format('woff'),
	// 	url('et-line/et-line.ttf') format('truetype'),
	// 	url('et-line/et-line.svg#et-line') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

