




<div class="head"> 

<div class="container">

      <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
          <div id="logo">
            <a
              href="index.html"
              class="standard-logo"
              data-dark-logo="../assets/area01-logo.png"
              ><img src="../assets/logo area_.png" alt="Canvas Logo"
            /></a>
            <a
              href="index.html"
              class="retina-logo"
              data-dark-logo="one-page/images/canvasone-dark@2x.png"
              ><img src="../assets/logo area_.png" alt="Canvas Logo"
            /></a>
          </div>
          <!-- <a class="navbar-brand" href="#">Navbar</a> --> 

           <!-- <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse" style="flex-grow: inherit;" id="navbarNav">
            <ul class="navbar-nav">
              <!-- <li class="menu-item" > 
                <a [routerLink]="['Admin-dash']" class="menu-link" data-href="#section-about"
                  ><div>dashbord</div></a
                >
              </li>

              <li class="menu-item" >
                <a  class="menu-link" data-href="#wrapper" [routerLink]="['ambassadeurs']"
                  ><div>Ambassador</div></a
                >
              </li>

              <li class="menu-item"  >
                <a  class="menu-link" data-href="#wrapper" [routerLink]="['news']"
                  ><div>News</div></a
                >
              </li>

              <li class="menu-item" *ngIf="this.authService.isauth === 'false'" >
                <a [routerLink]="['login']" class="menu-link" data-href="#section-about"
                  ><div>login</div></a
                >
              </li> -->
              <!-- <li class="menu-item" *ngIf="this.authService.isauth !== 'false' ">
                <a (click)="logout()" style="cursor: pointer;" class="menu-link" data-href="#section-about"
                  ><div>logout</div></a
                >
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </div>      
  </div>