<!-- Header
		============================================= -->
        <header
        id="header"
        class="full-header transparent-header header-size-custom"
        data-sticky-shrink="false"
        data-sticky-offset="full"
      >
        <div id="header-wrap">
          <div class="container">
            <div class="header-row">
              <!-- Logo
                              ============================================= -->
              <div id="logo">
                <a
                  href="index.html"
                  class="standard-logo"
                  data-dark-logo="../assets/area01-logo.png"
                  ><img src="../assets/area01-dark-logo-modif.png" alt="Canvas Logo"
                /></a>
                <a
                  href="index.html"
                  class="retina-logo"
                  data-dark-logo="one-page/images/canvasone-dark@2x.png"
                  ><img src="../assets/area01-dark-logo-modif.png" alt="Canvas Logo"
                /></a>
              </div>
              <!-- #logo end -->
      <!-- 
              <div class="header-misc">
                <div class="side-panel-trigger header-misc-icon">
                  <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                </div>
              </div> -->
      
              <div id="primary-menu-trigger">
                <svg class="svg-trigger" viewBox="0 0 100 100">
                  <path
                    d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"
                  ></path>
                  <path d="m 30,50 h 40"></path>
                  <path
                    d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"
                  ></path>
                </svg>
              </div>
      
              <!-- Primary Navigation
                              ============================================= -->
              <nav class="primary-menu">
                <ul
                  class="one-page-menu menu-container"
                  data-easing="easeInOutExpo"
                  data-speed="1250"
                  data-offset="65"
                >
                  <li class="menu-item">
                    <a  class="menu-link" data-href="#wrapper" [routerLink]="['']"
                      ><div>Home</div></a
                    >
                  </li>
                  <li class="menu-item">
                    <a [routerLink]="['ambassadeurs']" class="menu-link" data-href="#section-about"
                      ><div>ambassadeurs</div></a
                    >
                  </li>
                  <!-- <li class="menu-item">
                    <a href="#" class="menu-link" data-href="#section-works"
                      ><div>Works</div></a
                    >
                  </li>
                  <li class="menu-item">
                    <a href="#" class="menu-link" data-href="#section-services"
                      ><div>Services</div></a
                    >
                  </li>
                  <li class="menu-item">
                    <a href="#" class="menu-link" data-href="#section-blog"
                      ><div>Blog</div></a
                    >
                  </li>
                  <li class="menu-item">
                    <a href="#" class="menu-link" data-href="#section-contact"
                      ><div>Contact</div></a
                    >
                  </li> -->
                </ul>
              </nav>
              <!-- #primary-menu end -->
            </div>
          </div>
        </div>
        <div class="header-wrap-clone"></div>
      </header>
      <!-- #header end -->
