<!-- <div class="login">
    <form class="col-6">
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="form-group">
            <label class="form-check-label"><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>
 -->
<div class="content">
    <div class="box">
        <div class="header">
            <h1>Log In</h1>
        </div>
        <div class="email container">
            <img src="https://storage.googleapis.com/koloicons/png/line/48-origin-size/48/17%20Settings/Account_2.png">
            <input type="email" placeholder="email">
        </div>

        <div class="passsword container">
            <img src="https://storage.googleapis.com/koloicons/png/line/48-origin-size/48/21%20Control/Lock.png">
            <input type="password" placeholder="password">
        </div>
        <div class="remember">
            <div class="left">
                <input type="checkbox"> Remember me
            </div>
            <div class="right">
                <a href="#">Forgot password?</a>
            </div>
        </div>
        <div class="submit">
            <input type="submit" value="Submit">
        </div>
    </div>
</div>